<footer>
  <div class="container ">
    <!-- Copyright -->
    <div class="footer-holder footer-color">
      <ul>
        <li>
          <a href="https://www.ricoh-usa.com/en/about-us/privacy-policy"
            >Privacy
          </a>
          <span class="pipe">|</span>
        </li>
        <li>
          <a href="https://www.ricoh-usa.com/en/about-us/terms-of-use"
            >Terms & Conditions
          </a>
        </li>
      </ul>
      <span> © 2024 RICOH USA,Inc.. All Rights Reserved.</span>
    </div>
  </div>
  <!-- Copyright -->
</footer>
